<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsp.equipment.dao.UserDao">
    <resultMap id="UserResult" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="userName"></result>
        <result property="password" column="password"></result>
        <result property="trueName" column="trueName"></result>
        <result property="email" column="email"></result>
        <result property="phone" column="phone"></result>
        <result property="addTime" column="add_time"></result>
        <result property="departmentId" column="departmentId"></result>
        <result property="roleId" column="roleId"></result>
        <association property="role" column="roleId" select="com.dsp.equipment.dao.RoleDao.findById"></association>
    </resultMap>

    <select id="login" parameterType="User" resultType="User">
        select * from sys_user where userName=#{userName} and password=#{password}
    </select>

    <select id="findByUserName" parameterType="string" resultMap="UserResult">
        select * from sys_user where userName=#{userName}
    </select>

    <select id="selectByPrimaryKey" parameterType="User" resultMap="UserResult">
        select * from sys_user
        where id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="list" parameterType="java.lang.Integer" resultMap="UserResult">
        select s.*,d.name as departmentId1 from sys_user as s left join department as d on d.id = s.departmentId
        where 1=1
            <if test="userName!=null and userName!=''">
                and userName like CONCAT('%',#{userName},'%')
            </if>
        <if test="trueName!=null and trueName!=''">
            and trueName like CONCAT('%',#{trueName},'%')
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from sys_user
          <where>
              <if test="userName!=null and userName!=''">
                  and userName like #{userName}
              </if>
          </where>
    </select>
    
    <insert id="add" parameterType="User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="trueName != null">
                trueName,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="roleId != null">
                roleId,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=Integer},
            </if>
            <if test="userName != null">
                  #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="trueName != null">
                #{trueName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=DOUBLE},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=VARCHAR},
            </if>

            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="User">
        update sys_user
        <set>
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="trueName!=null and trueName!=''">
                trueName=#{trueName},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="roleId!=null and roleId!=''">
                roleId=#{roleId},
            </if>
            <if test="departmentId!=null and departmentId!=''">
                departmentId=#{departmentId}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from sys_user where id=#{id}
    </delete>
</mapper> 