body {font-size:14px;font-family:Helvetica,Microsoft YaHei,SimSun,Arial,Tahoma;}
.p1 {margin-top:50px}
.p1 span {display:inline-block;vertical-align:middle;margin-right:20px}
.p1 b {display:block;font-size:36px;color:rgb(51,51,51)}
.p1 cite {display:block;font-style:normal;font-size:16px;color:rgb(153,153,153);letter-spacing:0.5px}
.p1 i {display:inline-block;font-size:30px;color:rgb(0,160,232);font-style:normal}
.p2 {margin-top:50px;background:url(../images/login-bg.jpg) 0px 20px no-repeat}
.p2 .box {width:70%;padding:1px;background:rgb(255,255,255);border:1px rgb(204,204,204) solid;border-radius:10px;box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2)}
.p2 .title {padding-left:30px;height:60px;line-height:60px;color:rgb(153,153,153);border-bottom:1px rgb(242,242,242) solid}
.p2 .title span {font-size:18px;padding-right:5px;}
.p2 .content {margin:1px 0px;padding:30px 30px 0px 30px; color:rgb(102,102,102)}
.p2 .code {width:35%}
.p2 .tips {height:30px;line-height:30px;color:rgb(204,51,51);font-size:12px;text-align:center}
.p2 .btn {height:60px;text-align:center;border-top:1px rgb(242,242,242) solid}
.p2 .btn button {vertical-align:middle;margin-top:10px}
.p3 {margin-top:30px;color:rgb(153,153,153);font-size:14px;text-align:center;}
.layui-form-mid{width: 100px;height: 38px;padding: 0px!important;}
.layui-form-mid img{width: 100%;height: 100%}